* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  text-align: center;
  background-color: #011F3F;
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  margin:  5%;
  height: fit-content;
  padding: 1rem;
  color: #011F3F;
  background-color: #FEF2BF;
  border-radius: 1rem;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  gap: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  cursor: pointer;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media screen and (max-width: 1024px) {
  #level-title {
    font-size: 2rem;
  }

  .container {
    width: 100%;
    gap:0;
    gap: 5rem;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .btn {
    width: 9rem;
    height: 9rem;
    margin: 1rem;
  }
}

@media screen and (max-width: 426px) {
  #level-title {
    font-size: 1rem;
  }

  .container {
    width: 100%;
    gap:0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
  }

  .btn {
    width: 5rem;
    height: 5rem;
    margin: 1rem;
  }
}